<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Iyanu's Portfolio Site</title>
		<meta name="description" content="Explore the portfolio of Iyanu Aketepe, along with the skills and experiences he has to offer.">
	<!-- <script src="https://cdn.tailwindcss.com"></script> <link rel="stylesheet" href="assets/css/main.css" />-->

		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> -->
		<link rel="preload" href="assets/fonts/Raleway/Raleway-Light.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="assets/fonts/Source_Sans_3/SourceSans3-Light.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="assets/fonts/Raleway/Raleway-Bold.woff2" as="font" type="font/woff2" crossorigin>


		<link rel="stylesheet" href="assets/css/tailwind2.css" />
		
		<!-- <script type="module" src="assets/js/icons.bundle.js" nonce="<%= nonce %>"></script> -->
		<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" nonce="<%= nonce %>" async defer></script>
	</head>
	<body class="min-h-screen h-screen min-w-[320px]">

		<!-- Banner -->
			<section id="banner" class="flex justify-center items-center relative">
				<div class="w-full max-w-[55em]">
					<h1 class="major">Iyanu Aketepe</h1>
					<h2>Honours Bachelor of Computer Science @ University of Ottawa</h2>
				</div>

				<!-- <div class="absolute flex flex-col top-5 right-3 gap-5 z-10">
					<a href="https://github.com/iaketepe" class="flex" aria-label="Go to Github">
						<svg xmlns="http://www.w3.org/2000/svg" class="scale-150 w-5 h-5 icon" viewBox="0 0 24 24" fill="currentColor"><path d="M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z"></path></svg>
					</a>
					<a href="https://www.linkedin.com/in/iyanu-aketepe" class="flex" aria-label="Go to Linkedin">
						<svg xmlns="http://www.w3.org/2000/svg" class="scale-150 w-5 h-5 icon" viewBox="0 0 24 24" fill="currentColor"><path d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z"></path></svg>
					</a>
				</div> -->

				
			</section>

		<!-- Wrapper -->
			<section id="wrapper">

				<!-- One -->
					<section id="one" class="!bg-[#4c5c96] wrapper spotlight">
						<div class="inner">
							<img class="image" loading="lazy" src="assets/images/aboutmeImg.webp" alt="" />
							<div class="">
								<h3 class="major">About Me</h3>
								<p class="max-h-[150px] overflow-y-scroll pr-[10px] [scrollbar-gutter: stable]">
									I'm a systems-based thinker with experience across information technology, data science, and enterprise architecture. Whether I'm streamlining workflows, writing documentation, or designing software and data/information systems to support future objectives, I adapt to different roles and challenges to keep things running smoothly.
									<br><br>
									Currently, I’m focused on deepening my understanding of how software systems communicate and handle data—working with backend services, APIs, and data pipelines—to build effective, connected solutions.
									<br><br>
									Outside of work, I enjoy reading, discovering new music, and diving into stories—whether they come from books, people, or data.
								</p>
							</div>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt spotlight style2">
						<div class="carousel relative">
							<div class="carousel-inner">
								<div id="domain_slide1" class="carousel-item">
									<div class="inner w-full max-w-[55em]">
										<img class="image" loading="lazy" src="assets/images/DomainImg.webp" alt="" />
										<div class="">
											<h3 class="major">Domains</h3>
											<p>My interests and skills span multiple fields. From coming up with new ideas, grounding them with research and analysis; to realizing them as software products, maintaining them through well designed systems for persistence.</p>
										</div>
									</div>
								</div>
								<div id="domain_slide2" class="carousel-item">
									<div class="inner w-full max-w-[55em]">
										<img class="image" loading="lazy" src="assets/images/WDImgv3.webp" alt="" />
										<div class="w-full">
											<h3 class="major">Web Development</h3>
											<ul>
												<li>Languages: Javascript (JS), Typescript (TS), PHP</li>
												<li>Libraries & Frameworks:  Express (Node.js), Laravel (PHP), React</li>
												<li>UI/UX: Figma, LucidChart, Tailwind, Bootstrap</li>
												<li>Cloud: Neon, Supabase, Firebase, Render, Vercel, Netlify</li>
											</ul>
										</div>
									</div>
								</div>
								<div id="domain_slide3" class="carousel-item">
									<div class="inner w-full max-w-[55em]">
										<img class="image" loading="lazy" src="assets/images/DSImgv3.webp" alt="" />
										<div class="w-full">
											<h3 class="major">Data Science</h3>
											<ul>
												<li>Tools: Google Colab, Jupyter Notebooks, Power BI</li>
												<li>Languages: Python, R</li>
												
												<li>Analysis : Pandas, NumPy, Scikit-learn, Tensorflow, Keras</li>
												<li>Visualization & Dashboards: Altair, Seaborn, Plotly, Streamlit, Dash</li>
												<li>Cloud: Streamlit Cloud, Render</li>
											</ul>
										</div>
									</div>
								</div>
								<div id="domain_slide4" class="carousel-item">
									<div class="inner w-full max-w-[55em]">
										<img class="image" loading="lazy" src="assets/images/ITImgv3.webp" alt="" />
										<div class="w-full">
											<h3 class="major">IT & Systems</h3>
											<ul>
												<li>Operating Systems: Windows, Linux</li>
												<li>Languages: Java, Python, C, C++, SQL</li>
												<li>IT Tools: Active Directory, Bash, Git, Jira, Zendesk, SharePoint, Salesforce</li>
												<li>Databases: PostgreSQL (Neon, Supabase), MySQL, Firebase</li>
												<li>Cloud: Github, Docker, Render, Vercel, Netlify</li>
											</ul>

										</div>
									</div>
								</div>
							</div>
							<div id="carousel-buttons" class="hidden lg:flex justify-between absolute w-full h-full">
								<button id="prev" class="carousel-button">❮</button>
								<button id="next" class="carousel-button">❯</button>
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper spotlight style3">
						<div class="carousel relative">
							<div class="carousel-inner">
								<div id="experience_slide1" class="carousel-item">
									<div class="inner w-full max-w-[55em]">
										<img class="image" loading="lazy" src="assets/images/ExperiencesImgv2.webp" alt="" />
										<div class="">
											<h3 class="major">Experiences</h3>
											<p>I've worked in several distinct IT roles, giving me a well-rounded approach to solving problems. Originally working as an IM/IT Analyst, I helped clients reach conclusions through my technical support. This experience supported me in my architecture and analysis roles, where converting research to clear action is key.</p>
										</div>
									</div>
								</div>
								<div id="experience_slide2" class="carousel-item">
									<div class="inner w-full max-w-[55em]">
										<img class="image" loading="lazy" src="assets/images/IMITImgv2.webp" alt="" />
										<div class="w-full">
											<h3 class="major">IM/IT Analyst</h3>
											<ul class="">
												<li>Provided first line IT support, resolving technical issues for staff and end users through phone, email, and remote access</li>
												<li>Installed and configured desktops, laptops along with VoIP devices for on-site employees, ensuring smooth integration into the company's IT infrastructure</li>
												<li>Created IT reference materials for new hires, simplifying IT processes, supporting onboarding timeline</li>
											</ul>
										</div>
									</div>
								</div>
								<div id="experience_slide3" class="carousel-item">
									<div class="inner w-full max-w-[55em]">
										<img class="image" loading="lazy" src="assets/images/EAImg.webp" alt="" />
										<div class="w-full">
											<h3 class="major">Enterprise Architect</h3>
											<ul>
												<li>Added to EA reference architecture, supporting aligning architectural growth for GC departments and agencies</li>
												<li>Created the EA Layout, allowing GC members to see software system trends across departments</li>
												<li>Analyzed and visualized application software, supporting assessment of software viability over time</li>
											</ul>
										</div>
									</div>
								</div>
								<div id="experience_slide4" class="carousel-item">
									<div class="inner w-full max-w-[55em]">
										<img class="image" loading="lazy" src="assets/images/ESAImg.webp" alt="" />
										<div class="w-full">
											<h3 class="major">Enterprise Solutions Analyst</h3>
											<ul>
												<li>Diagnosed a backlog of unresolved JIRA tickets equal to ~30% of the average monthly workload</li>
												<li>Identified below standard account management ticket completion, observing times 67% higher than dictated by policy.</li>
												<li>Presented findings using data visualizations to inform and support discussions with GC stakeholders</li>
											</ul>

										</div>
									</div>
								</div>
							</div>
							<div id="experience-buttons carousel-buttons" class="hidden lg:flex justify-between absolute w-full h-full">
								<button id="prev" class="carousel-button">❮</button>
								<button id="next" class="carousel-button">❯</button>
							</div>
						</div>
					</section>

				<!-- Four -->
					<section id="four" class="wrapper alt">
						<div class="inner">
							<h3 class="major">Projects</h3>
							<section class="features" id="projectsList">

							</section>
							<div class="">
								<a href="https://github.com/iaketepe" class="button">Browse All</a>
							</div>
						</div>
					</section>

			</section>

		<!-- Footer -->
			<section id="footer" class="flex justify-center">
				<div class="w-full max-w-[55em]">
					<div class="relative">
						<h3 class="major">Get in touch</h3>
						<div class="absolute right-0 top-0 footer-icons flex gap-4 transform translate-y-1/6 z-10">
							<a href="https://github.com/iaketepe" class="flex" aria-label="Go to Github">
								<svg xmlns="http://www.w3.org/2000/svg" class="scale-150 w-6 h-6 icon" viewBox="0 0 24 24" fill="currentColor"><path d="M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z"></path></svg>
							</a>
							<a href="https://www.linkedin.com/in/iyanu-aketepe" class="flex" aria-label="Go to Linkedin">
								<svg xmlns="http://www.w3.org/2000/svg" class="scale-150 w-6 h-6 icon" viewBox="0 0 24 24" fill="currentColor"><path d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z"></path></svg>
							</a>
						</div>
					</div>

					<!--<div class="">
						<a href="" class="icon brands fa-github"></a>
						<a href="" class="icon brands fa-linkedin"></a>
					</div> -->

					<!--<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p> -->
					<form id="contact-form" class="">
						<div class="">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" required/>
						</div>
						<div class="">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" required/>
						</div>
						<div class="">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="4" required></textarea>
						</div>
						
						<div class="flex flex-col items-center">
							<div class="cf-turnstile overflow-x-hidden" data-sitekey="0x4AAAAAAB0I7kHdhrUvW2H6"></div>
							<input type="submit" value="Send Message"/>
						</div>
					</form>
					<div id="toastContainer" class="hidden fixed top-5 left-1/2 -translate-x-1/2 z-50 w-full max-w-[320px] sm:max-w-[clamp(20rem,_30vw,_30rem)]"></div>
				</div>

			</section>

		<!-- Scripts -->
			<script src="assets/js/main.js" nonce="<%= nonce %>"></script>
			<!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->
	</body>
</html>
