
/*@plugin "daisyui";*/

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background-color: #2e3141;
		background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg");
		background-size: auto, cover;
		background-attachment: fixed, fixed;
		background-position: center, center;
	}


/* Type */

	body, input, textarea {
		color: #ffffff;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: clamp(12pt, 1.5vw, 16.5pt);
		font-weight: 300;
		line-height: 1.65;
	}


	p {
		margin: 0 0 2em 0;
	}
	
	
	
	@layer theme {
		/*body {
			color: #ffffff;
			font-family: "Source Sans Pro", Helvetica, sans-serif;
		}*/

	}
	@layer base {

		body {
			color: #ffffff;
			font-family: "Source Sans Pro", Helvetica, sans-serif;
		}

		form {
			@apply flex flex-col gap-[0.5em];
		}

	}

		h1, h2, h3, h4, label {
			font-family: Raleway, Helvetica, sans-serif;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			margin: 0 0 1em 0;
			font-weight: 200;
		}

		h1 {
			font-size: clamp(1.5em,1em + 2vw,2.25em);
			margin-bottom: 0.8em;
			padding-bottom: 0.4em;
		}

		h2 {
			font-size: clamp(0.75em, 0.48em + 1vw, 1.1em); /* original 1em, alt: 1.2 clamp(0.75em,.001em + 2vw,1.1em);*/
			line-height: 2;
		}

		h3 {
			font-size: clamp(1em, 50% + 1vw, 1.2em); /* 0.9*/
		}

		h4 {
			font-size: 0.9em;  /* 0.7 0.9*/
		}

		label {
			font-size: 0.8em;
			font-weight: 700;
		}

		.major {
			padding-bottom: 1em;
			border-bottom: solid 2px rgba(255, 255, 255, 0.125);
		}

/* Form */


	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		background: rgba(255, 255, 255, 0.025);
		border-radius: 5px;
		border: none;
		border: solid 2px rgba(255, 255, 255, 0.125);
		color: inherit;
		resize: vertical;
		outline: 0;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		textarea:focus {
			border-color: #5b6ba6;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		height: 2.75em;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		padding: 0 1em;
	}

	textarea {
		padding: 0.75em 1em;
	}

/* Image */

	.image {
		/*border-radius: 5px;*/
		
		/*display: inline-block;
		position: relative;*/
	}

/* Button */

	input[type="submit"],
	input[type="button"],
	.button {
		background-color: transparent;
		border-radius: 5px;
		border: 0;
		box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-family: Raleway, Helvetica, sans-serif;
		font-size: 0.8em;
		font-weight: 700;
		height: 3.75em;
		letter-spacing: 0.1em;
		line-height: 3.75em;
		padding: 0 2.25em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background-color: rgba(255, 255, 255, 0.025);
		}

		input[type="submit"]:active,
		input[type="button"]:active,
		.button:active {
			background-color: rgba(255, 255, 255, 0.075);
		}

/* Features */

	.features {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 2em 0;
	}

		.features article {
			padding: 1.75em 1.75em 0.1em 1.75em ;
			background-color: #353849;
			border-radius: 5px;
			margin: 1.5em 3em 1.5em 0;
			width: calc(50% - 1.5em);
		}

			.features article:nth-child(2n) {
				margin-right: 0;
			}

			.features article .image {
				border-radius: 5px 5px 0 0;
				display: block;
				margin-bottom: 1.75em;
				margin-left: -1.75em;
				margin-top: -1.75em;
				position: relative;
				width: calc(100% + 3.5em);
			}

				.features article .image img {
					border-radius: 5px 5px 0 0;
					width: 100%;
				}

		@media screen and (max-width: 980px) {

			.features article {
				margin: 1em 2em 1em 0;
				width: calc(50% - 1em);
			}

		}

		@media screen and (max-width: 736px) {

			.features article {
				padding: 1.5em 1.5em 0.1em 1.5em ;
				margin: 0.875em 1.75em 0.875em 0;
				width: calc(50% - 0.875em - 1px);
			}

				.features article .image {
					margin-bottom: 1.5em;
					margin-left: -1.5em;
					margin-top: -1.5em;
					width: calc(100% + 3em);
				}

		}

		@media screen and (max-width: 480px) {

			.features {
				display: block;
			}

				.features article {
					width: 100%;
					margin: 0 0 2em 0 !important;
				}

		}

/* Menu */

/* Banner */

	#banner {
		padding: clamp(5em, 15vw, 10em) 2em clamp(1.75em, 8vw, 4.75em) 2em;
	}


@layer utilities {
	

}

/* Wrapper */

	.wrapper {
		background-color: #2e3141;
		padding: clamp(2em,1vw,3em) 1.5em clamp(0.1em,1vw,1em) 1.5em;
		margin: 6.5em 0;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

		.wrapper:before, .wrapper:after {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232e3141%3B' /%3E%3C/svg%3E");
			box-shadow: inset 0 -1px 0 0 #2e3141, 0 1px 0 0 #2e3141;
		}

		.wrapper:before, .wrapper:after {
			background-repeat: no-repeat;
			background-size: 100% 100%;
			content: '';
			display: block;
			height: 6.5em;
			position: absolute;
			width: 100%;
		}

		.wrapper:before {
			top: -6.5em;
		}

		.wrapper:after {
			transform: scaleY(-1);
			bottom: -6.5em;
		}

		.wrapper.alt:before {
			transform: scaleX(-1);
		}

		.wrapper.alt:after {
			transform: scaleY(-1) scaleX(-1);
		}


		.wrapper .inner {
			max-width: 55em;
		}

		.wrapper.spotlight .inner {
			display: flex;
			align-items: center;
			flex-direction: row;
			gap: 2em;
		}

		.wrapper.spotlight:nth-child(2n - 1) .inner {
			flex-direction: row-reverse;
			text-align: right;
		}

		.wrapper.spotlight.style2 {
			background-color: #45558d;
		}

			.wrapper.spotlight.style2:before, .wrapper.spotlight.style2:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2345558d%3B' /%3E%3C/svg%3E");
				box-shadow: inset 0 -1px 0 0 #45558d, 0 1px 0 0 #45558d;
			}

		.wrapper.spotlight.style3 {
			background-color: #3f4e85;
		}

			.wrapper.spotlight.style3:before, .wrapper.spotlight.style3:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%233f4e85%3B' /%3E%3C/svg%3E");
				box-shadow: inset 0 -1px 0 0 #3f4e85, 0 1px 0 0 #3f4e85;
			}

		.wrapper.spotlight {
			background-color: #4c5c96;
		}

			.wrapper.spotlight:before, .wrapper.spotlight:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234c5c96%3B' /%3E%3C/svg%3E");
				box-shadow: inset 0 -1px 0 0 #4c5c96, 0 1px 0 0 #4c5c96;
			}

			.wrapper.spotlight .image {
				border-radius: 100%;
				width: 100%;
				min-width: 12em;
				max-width: clamp(12em,15em + .5vw,18em); /*15em*/
				overflow: hidden;
			}
		.carousel-item {
		box-sizing: content-box;
		display: flex;
		flex: none;
		scroll-snap-align: start;
		}

		.carousel-inner {
			display: inline-flex;
			overflow-x: auto;
			cursor: grab;
			scroll-snap-type: x mandatory;
			scrollbar-width: none;
			@media (prefers-reduced-motion: no-preference) {
				scroll-behavior: smooth;
			}
			&::-webkit-scrollbar {
				display: none;
			}
		}

		.carousel {
			display: inline-flex;
			overflow-x: scroll;
			@media (prefers-reduced-motion: no-preference) {
				scroll-behavior: smooth;
			}
			&::-webkit-scrollbar {
				display: none;
			}
		}

		.carousel-button {
			box-shadow: inset 0 0 0 0px rgba(255, 255, 255, 0.125);
			
		}



		@media screen and (max-width: 980px) {

			.wrapper {
				margin: 4.75em 0;
			}

				.wrapper:before, .wrapper:after {
					height: 4.75em;
				}

				.wrapper:before {
					top: -4.75em;
				}

				.wrapper:after {
					bottom: -4.75em;
				}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				margin: 2.5em 0;
			}

				.wrapper:before, .wrapper:after {
					height: 2.5em;
				}

				.wrapper:before {
					top: -2.5em;
				}

				.wrapper:after {
					bottom: -2.5em;
				}

		}

		@media screen and (max-width: 480px) {

			.wrapper.spotlight .inner {
				display: block;
			}

			/*.wrapper.spotlight .image {
				max-width: 85%;
				width: 12em;
			}*/

		}


/* Footer */


#footer {
	padding: clamp(2em,1vw,3em) 1.5em clamp(4em,1vw,5em) 1.5em;
}